div{
  /*border: 3px solid;
  background-color: blue;*/
}

body, ul{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

header{
  height: 105px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

header:after{
  background-color: white;
  position: fixed;
}

#logo, nav, .registro, ul, .letras, .celular, .letras-video, #video1{
  display: inline-block;
}

#logo{
  height: 42px;
  margin: 28px 56px;
  width: 64px;
}

nav{
  float: right;
  width: 56%;
  position: relative;
  top: 14px;
}

ul{
}

li{
  display: inline-block;
  padding: 20px;
  list-style: none;
}

a{
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
}

a:hover{
  color: green;
}

img{
  height: 100%;
  width: 100%;
}

#registro{
  height: 49px;
  width: 306px;
  position: absolute;
  top: 7px;
  right: 21px;
}

.registro{
  border-radius: 11px;
  border: 2px solid;
  margin: 3px 21px;
  width: 63px;
  text-align: center;
}

section#video{
  height: 758px;
  width: 100%;
}

iframe{
  height: 100%;
  width: 100%;
}

div.formulario{
  position: absolute;
  top: 121px;
  right: 0;
  height: 601px;
  background-color: white;
  width: 510px;
}

div.contenido-1{
  position: relative;
  box-sizing: border-box;
  padding: 42px;
  bottom: 40px;
  height: 601px;
  background: linear-gradient(#650e82,#2B1E66);
  width: 100%;
}

div.letras{
  position: relative;
  bottom: 43px;
  font-size: 21px;
  color: white;
}

div.celular{
  height: 500px;
  width: 500px;
}

div.cont-Videos{
  position: relative;
  top: -45px;
  height: 560px;
  background: white;
}

div.letras-video{
  position: relative;
  top: -332px;
  width: 430px;
  margin: 51px;
  font-size: 21px;
}

#watch{
  margin: 0;
}

#title-video{
  margin: 2px;
}

#video1{
  height: 100%;
  width: 812.6px;
}
